<ion-menu contentId="tabs">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/">
        <ion-label>Exit</ion-label>
        <ion-icon name="exit" slot="start"></ion-icon>
        </ion-item>
        </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-tabs id="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contacts">
      <ion-icon name="people"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>