<ion-app>
  <!--<ion-menu contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle><ion-item routerLink="/tabs/contacts">Contacts</ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item routerLink="/tabs/search">Search</ion-item></ion-menu-toggle>
        <ion-menu-toggle><ion-item routerLink="/tabs/map">Mapass</ion-item></ion-menu-toggle>
        </ion-list>
    </ion-content>
  </ion-menu> -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
